/* Base Styles -------------------- */
body,
html {
  height: 100%;
  margin: 0;
}

body:after {
  background: url(../images/elevate-bg-one.jpg) center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  content: "";
  height: 100vh;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: -1;

  @media screen and (max-width: 768px) {
    background-attachment: scroll;
  }
}

.form-label {
  color: $evl-white;
}

.form-control {
  border: 1px solid $evl-white;
  border-radius: 0;

  &:focus {
    border-color: $evl-pink;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset,
      0px 0px 8px rgba(207, 94, 116, 0.8);
  }
}

.text-muted {
  color: $evl-grey !important;
}

.btn {
  border-radius: 0 !important;
  text-transform: uppercase;
}

.btn-xl {
  padding: 10px 20px;
  font-size: 20px;
  border-radius: 10px;
  width: 250px;
}

.btn-xxl {
  padding: 10px 20px;
  font-size: 20px;
  border-radius: 10px;
  width: 300px;
}

.btn-outline-primary {
  background-color: transparent;
  background-image: none;
  border-color: $evl-pink;
  box-shadow: none;
  color: $evl-white;

  &:hover {
    background-color: $evl-turquoise;
    border-color: $evl-turquoise;
    box-shadow: none;
    color: $evl-white;
  }

  &:active,
  &:focus,
  &:link,
  &:visited {
    box-shadow: none;
  }
}

.was-validated {
  .form-control {
    &:valid {
      border-color: $evl-turquoise;
    }

    &:invalid {
      border-color: $evl-pink;
    }
  }
}

.invalid-feedback {
  color: $evl-pink;
}
