.about-wrapper {
  height: 100%;
}

#about {
  background: url(../images/elevate-two.jpg) center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
}