.article-header {
  h1 {
    font-family: $font-family-sans-serif;
    font-size: 2.4rem !important;
  }
}

.article-content {
  background-color: rgba(25, 52, 70, 0.7);

  h1,
  h2,
  h3,
  h4 {
    color: $evl-turquoise;
  }

  a {
    border-bottom: 1px solid transparent;
    box-shadow: none;
    color: $evl-turquoise;
    text-decoration: none;

    &:active,
    &:hover {
      color: $evl-pink;
    }
  }

  small {
    color: $evl-white;
    font-weight: 600;
  }

  p {
    color: $evl-white;
  }

  ol,
  ul {
    list-style-position: outside;
    padding-left: 40px;

    li {
      color: $evl-white;
    }
  }

  figure {
    color: $evl-white;
    font-size: 0.9rem !important;
    text-align: center;

    img {
      margin-bottom: 10px;
    }
  }
}

.bio {
  .author {
    a {
      border-bottom: 1px solid transparent;
      box-shadow: none;
      color: $evl-turquoise;
      font-weight: bold !important;
      text-decoration: none;

      &:active,
      &:hover {
        color: $evl-pink;
      }
    }
  }
}
