.not-found {
  color: $evl-white;
  height: 100%;

  h1 {
    font-size: 3rem;
  }

  a {
    border-bottom: 1px solid transparent;
    box-shadow: none;
    color: $evl-turquoise;
    text-decoration: none;

    &:active,
    &:hover {
      color: $evl-pink;
    }
  }
}

#not-found {
  height: 100vh;
}
