.related-wrapper {
  .card-deck {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 0;

    .card {
      align-items: center;
      background-color: rgba(25, 52, 70, 0.7);
      border-radius: 0;

      p {
        color: $evl-white;
        font-size: 1rem;
      }

      a {
        border-bottom: 1px solid transparent;
        box-shadow: none;
        color: $evl-turquoise;
        text-decoration: none;

        &:active,
        &:hover {
          color: $evl-pink;
        }
      }

      small {
        color: $evl-white;
        font-weight: 600;
      }

      .card-img {
        border-radius: 0;
        height: 100%;
        margin: 0;
        padding: 0;
        object-fit: cover;
      }

      .card-title {
        color: $evl-turquoise;
        font-family: $font-family-sans-serif;
      }

      .card-body {
        padding-bottom: 0;
      }
    }

    @include media-breakpoint-up(md) {
      grid-template-columns: repeat(auto-fit, minmax(390px, 1fr));

      p {
        font-size: 1.1rem;
      }

      .card-title {
        font-size: 1.2rem;
      }
    }

    @include media-breakpoint-up(lg) {
      grid-template-columns: repeat(auto-fit, minmax(720px, 1fr));

      p {
        font-size: 1.2rem;
      }

      .card-title {
        font-size: 1.3rem;
      }
    }
  }
}
