.services-wrapper {
  background-color: $evl-blue;

  h1 {
    color: $evl-white;
    font-family: $font-family-sans-serif;
    font-weight: 400;
    text-transform: uppercase;
  }

  p {
    color: $evl-turquoise;
  }

  blockquote {
    border: none !important;
    font-style: normal !important;
  }

  ul.nav-pills {
    a {
      box-shadow: none;
      display: block;
      font-family: $headings-font-family;
      font-size: 1.3rem;
      font-weight: 600;
      margin-bottom: 10px;

      &:link,
      &:visited {
        background-color: $evl-blue;
        color: $evl-turquoise !important;
      }

      &:active,
      &:focus,
      &:hover {
        background-color: $evl-blue;
        color: $evl-pink !important;
      }

      &.active {
        background-color: $evl-blue;
        color: $evl-pink !important;
      }
    }

    span {
      display: block;
    }
  }
  
  .tab-content {
    p {
      color: $evl-turquoise;
    }
  }
}