.jumbotron {
  background: transparent;

  h1 {
      color: $white;
      font-size: 3.2rem;
  }

  p {
      color: $white;
      font-weight: $font-weight-light;
  }

  a {
    box-shadow: none;
  }

  @include media-breakpoint-down(sm) {
    h1 {
      font-size: 1.6rem;
    }

    p {
      font-size: 1.2rem;
    }
  }
}