.navbar {
  ul.navbar-nav {
    a {
      box-shadow: none;
      font-size: 1.4rem;
      text-transform: uppercase;

      &:link,
      &:visited {
        color: $white !important;
        border-bottom: 1px solid transparent !important;
      }

      &:active,
      &:focus,
      &:hover {
        color: $white !important;
        border-bottom: 1px solid $pink !important;
      }
    }

    .current {
      a {
        border-bottom: 1px solid $pink !important;
      }
    }
  }
}
