.intro-wrapper {
  height: 100%;
}

#home {
  height: 100vh;
}

.services-wrapper {
  background-color: $blue;

  h1 {
    color: $white;
    font-family: $font-family-sans-serif;
    font-weight: 400;
    text-transform: uppercase;
  }

  p {
    color: $turquoise;
  }

  blockquote {
    border: none !important;
    font-style: normal !important;
  }

  a {
    box-shadow: none;
  }

  @media screen and (max-width: 768px) {
    h1 {
      font-size: 1.6rem;
    }
  }
}

.about-wrapper {
  height: 100%;
}

#about {
  background: url(../images/elevate-two.jpg) center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;

  @media screen and (max-width: 768px) {
    background-attachment: scroll;
  }
}

.contact-wrapper {
  background-color: $blue;

  h1 {
    color: $white;
    font-family: $font-family-sans-serif;
    font-weight: 400;
    text-transform: uppercase;
  }

  blockquote {
    border: none !important;
    font-style: normal !important;
  }

  h3 {
    color: $white;
    font-size: 1.4rem;
  }

  p {
    color: $turquoise;
  }

  span {
    margin-left: 5px;
  }

  a {
    border-bottom: 1px solid transparent;
    box-shadow: none;
    color: $white;
    font-size: 1.4rem;
    margin-left: 5px;
    text-decoration: none;

    &:link,
    &:visited {
      color: $white;
    }

    &:active,
    &:focus,
    &:hover {
      color: $pink;
    }
  }

  @media screen and (max-width: 768px) {
    h1 {
      font-size: 1.6rem;
    }

    h3 {
      font-size: 1.2rem;
    }

    p {
      font-size: 1.0rem;
    }
  }
}

.blog-wrapper {
  h1, h2, h3, h4 {
    color: $white;
  }

  a {
    border-bottom: 1px solid transparent;
    box-shadow: none;
    color: $white;
    text-decoration: none;

    &:link,
    &:visited {
      color: $white;
    }

    &:active,
    &:focus,
    &:hover {
      color: $pink;
    }
  }

  small {
    color: $turquoise;
    font-weight: 600;
  }

  p {
    color: $white;
  }
}